.priceResults{
    padding: 10px 20px;
    position: absolute;
    height: 150px;
    width: 350px;
    box-shadow: 4px 6px 6px $grey;
    background-color: $white;
    border: rgb(239, 239, 239) solid 1px;
    border-radius: 8px;
    z-index:100;

    .prices{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px
    }


}